.inputter,
.add-button{
	margin-top: 20px;
}

.to-do-list{
	margin-top: 10px;
}

.del-button-td{
	border-left: 1px solid #B8B8B8;
}

.item-description{
	font-size: 1.3em;
	transition: all 3s;
}

.del-button{
	font-weight: bold;
	transition: background 1s;
}

.del-button:hover{
	background: #FF0909;
	animation: bling 1.9s infinite;
}

@keyframes bling{
	0% {
		box-shadow: inset 0 0 0 3px #9E0303;
		color: #5E0000;
	}
	50% {
		box-shadow: inset 0 0 0 3px #FFF;
		color: #fff;	
	}
	100% {
		box-shadow: inset 0 0 0 3px #9E0303;
		color: #5E0000;
	}
}