.indoor{
	background: #D9E5E7;
}

.outdoor{
	background: #C1FFEB;
}

.other{
	background: #FAFFB8;
}

.urgent{
	animation: ohcrap 15s infinite;
	font-weight: bold;
}

@keyframes ohcrap{
	0% {background-color: #FFB3A2}
	50% {background-color: #FF3320}
	100% {background-color: #FFB3A2}
}

.inputter,
#add-button,
#category-select{
	margin-top: 20px;
	outline: none;
}

.empty-message{
	font-size: 1.2em;
}

#category-select{
	background: transparent;
	font-size: 1.2em;
	width: 100%;
	border-radius: 10px;
}

#add-button:hover{
	animation: addHover 0.75s 1;
	font-weight: 600;
	background: #09FF1F;
	color: #2231FF;
	transition: background 2s, color 3s, font-weight 1.5s;
}

@keyframes addHover{
	0% {
		box-shadow: inset 0 0 0 8px #B2ABB6;
	}
	25% {
		box-shadow: inset 0 0 0 6px #98929B;
	}
	50% {
		box-shadow: inset 0 0 0 4px #847F87;
	}
	75% {
		box-shadow: inset 0 0 0 3px #4A474B;
	}
	100% {
		box-shadow: inset 0 0 0 2px #222123;
	}
}

.to-do-list{
	margin-top: 10px;
}

.del-button-td{
	border-left: 1px solid #B8B8B8;
}

.item-description{
	font-size: 1.3em;
	transition: all 3s;
}

.del-button{
	font-weight: bold;
	transition: background 1s;
}

.del-button:hover{
	background: #FF0909;
	animation: bling 1.9s infinite;
}

@keyframes bling{
	0% {
		box-shadow: inset 0 0 0 3px #9E0303;
		color: #5E0000;
	}
	50% {
		box-shadow: inset 0 0 0 3px #FFF;
		color: #fff;	
	}
	100% {
		box-shadow: inset 0 0 0 3px #9E0303;
		color: #5E0000;
	}
}

@media screen and (max-width:560px){
	.inputter,
	#add-button,
	#category-select{
		width: 120px;
		margin-left: -30px;
	}
}

@media screen and (min-width: 561px){
	.inputter{
		width: 100%;
	}
}